* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--cl-theme);
    font-size: 0.8rem;
    font-size: 1.5vmin;
}

:root {
    --cl-white: hsl(0, 0%, 100%);
    --cl-light-grey: hsl(0, 0%, 80%);
    --cl-grey: hsl(0, 0%, 50%);
    --cl-dark-grey: hsl(0, 0%, 20%);
    --cl-black: hsl(0, 0%, 0%);
    --cl-white-trans: hsla(0, 0%, 100%, 0.6);
    --cl-black-trans: hsla(0, 0%, 0%, 0.6);
    --cl-black-screen: linear-gradient(135deg, hsla(0, 0%, 0%, 0.2) 0%, hsla(0, 0%, 0%, 0.7) 80%);
    --cl-grad-dark: linear-gradient(135deg, hsla(0, 0%, 40%, 0.6) 0%, hsla(0, 0%, 0%, 0.4) 50%, hsla(0, 0%, 0%, 0.8) 100%);
    --cl-grad-light: linear-gradient(135deg, hsla(0, 0%, 100%, 0.6) 15%, hsla(0, 0%, 100%, 0.2) 65%, hsla(0, 0%, 50%, 0.4) 100%);

    --cl-glare-dark:
        linear-gradient(0deg, hsla(0, 0%, 0%, 0.0) 10%, hsla(0, 0%, 0%, 1.0) 100%),
        linear-gradient(112.5deg, hsla(0, 0%, 100%, 0.0) 0%, hsla(0, 0%, 100%, 0.0) 38%, hsla(0, 0%, 50%, 0.2) 40%, hsla(0, 0%, 00%, 0.1) 100%),
        hsla(0, 0%, 0%, 0.9);
    --cl-glare-light:
        linear-gradient(0deg, hsla(0, 0%, 95%, 0.0) 10%, hsla(0, 0%, 95%, 1.0) 100%),
        linear-gradient(112.5deg, hsla(0, 0%, 100%, 1.0) 0%, hsla(0, 0%, 100%, 0.0) 38%, hsla(0, 0%, 100%, 1.0) 40%, hsla(0, 0%, 100%, 1.0) 100%),
        hsla(0, 0%, 95%, 1.0);
    --inner-shadow-light: -0.8rem -0.8rem 1rem -0.6rem hsla(0, 0%, 50%, 1.0) inset;
    --inner-shadow-dark: -0.2rem -0.4rem 1rem -0.6rem hsla(0, 0%, 30%, 1.0) inset;

    --theme-0: hsl(0, 0%, 50%);
    --theme-1: hsl(0, 75%, 50%);
    --theme-2: hsl(16, 100%, 50%);
    --theme-3: hsl(40, 100%, 40%);
    --theme-4: hsl(144, 100%, 30%);
    --theme-5: hsl(177, 100%, 40%);
    --theme-6: hsl(217, 100%, 65%);
    --theme-7: hsl(269, 90%, 55%);
    --theme-8: hsl(324, 100%, 34%);
    --theme-9: hsl(342, 100%, 50%);

    --cl-theme: var(--theme-0);

    --cl-light: var(--cl-white);
    --cl-mid-light: var(--cl-light-grey);
    --cl-mid-dark: var(--cl-dark-grey);
    --cl-dark: var(--cl-black);
    --cl-medium: var(--cl-grey);
    
    --cl-accent: var(--cl-theme);
    --foreground: var(--cl-black);
    --midground: var(--cl-dark-grey);
    --background: var(--cl-white);
    --background-grad: var(--cl-grad-light);
    --cl-trans: var(--cl-white-trans);
    --cl-screen: var(--cl-white-trans);
    --cl-device: var(--cl-white);
    --cl-glare: var(--cl-glare-light);
    --numpad-shadow: var(--inner-shadow-dark);

    --offset-width: translateX(15px);
    --first-colour: var(--cl-theme);
    --second-colour: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
    --background: var(--cl-black);
    --midground: var(--cl-light-grey);
    --foreground: var(--cl-white);
    --background-grad: var(--cl-grad-dark);
    --cl-trans: var(--cl-black-trans);
    --cl-screen: var(--cl-black-screen);
    --cl-device: var(--cl-black);
    --cl-glare: var(--cl-glare-dark);
    --numpad-shadow: var(--inner-shadow-light);

    --theme-0: hsl(0, 0%, 50%);
    --theme-1: hsl(0, 75%, 60%);
    --theme-2: hsl(16, 100%, 50%);
    --theme-3: hsl(40, 100%, 60%);
    --theme-4: hsl(144, 100%, 30%);
    --theme-5: hsl(177, 100%, 30%);
    --theme-6: hsl(217, 100%, 30%);
    --theme-7: hsl(310, 90%, 45%);
    --theme-8: hsl(324, 100%, 50%);
    --theme-9: hsl(342, 100%, 50%);
    }
}

@media only screen and (max-width: 768px) {
    html {
        background-color: var(--cl-theme);
        font-size: 0.8rem;
        font-size: 2.0vmin;
    }
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-grad);
    font-family: 'Roboto Mono', monospace;
    color: var(--foreground);
    box-shadow: 0 0 1rem var(--cl-black-trans) inset;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

footer {
    position: fixed;
    align-self: flex-end;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--cl-trans);
    border-bottom: none;
    box-shadow: 1rem 0 1rem var(--cl-black-trans);
}

footer:hover .theme {
    margin: 0.5rem;
    min-height: 4rem;
    min-width: 4rem;
    /* opacity: 0.75; */
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    min-width: 3rem;
    margin: 0.5rem 0.75rem;
    background-color: var(--background);
    border-radius: 15%;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 500ms, transform 500ms, min-height 500ms, min-width 500ms, margin 500ms;
}

.theme:hover {
    opacity: 1;
    transform: scale(1.05);
}

#device-housing {
    width: 28rem;
    border-radius: 1rem;
    border: solid 0.1rem var(--foreground);
    box-shadow: 0.25rem 0.25rem 0rem var(--foreground), 0 0 1rem var(--cl-black-trans);
    user-select: none;
    transform: translate(0, -4vh);
}

#screen {
    position: relative;
    display: flex;
    border-bottom: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 28rem;
    border-radius: 1rem 1rem 0 0;
    background: var(--cl-screen);
    overflow: hidden;
}

#screen p {
    align-self: flex-end;
    margin: 0.5rem;
    padding: 0 2rem;
    text-align: right;
    letter-spacing: -0.1rem;
}

#calculation {
    align-self: flex-end;
    min-height: 4rem;
    font-size: 3rem;
    padding-bottom: 1rem !important;
}

#history {
    align-self: flex-end;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--cl-medium);
}

#history p:first-child {
    opacity: 0.4;
}

#history p:nth-last-child(2) {
    opacity: 0.7;
}

#function-panel {
    max-height: 100%;
    opacity: 60%;
    transition: 600ms linear;
    transition-delay: 0ms;
}

.hidden {
    max-height: 0% !important;
}

#numpad {
    display: grid;
    grid-template-columns: auto auto;
    background: var(--cl-glare);
    border-top: solid 0.1rem var(--foreground);
    box-shadow: var(--numpad-shadow);
    border-radius: 0 0 1rem 1rem;
}

.button-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    padding: 0.5rem 0;
}

.numbers {
    grid-template-columns: repeat(3, auto);
}

.operations {
    grid-template-columns: repeat(2, auto);
}

.functions {
    grid-template-columns: repeat(5, auto);
    border-top: solid 0.1rem var(--foreground);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
}

.operation {
    border: solid 0.1rem var(--foreground);
    border-radius: 0.5rem;
    font-weight: 400;
    transition: box-shadow 800ms, transform 800ms;
}

.operation:hover {
    transform: translate(-0.1rem, -0.1rem);
    box-shadow: 0.1rem 0.1rem 0 var(--foreground);
    transition: box-shadow 100ms, transform 100ms;
}

.operation:active {
    transform: translate(0.0rem, 0.0rem);
    box-shadow: 0.0rem 0.0rem 0 var(--foreground);
}

.functions li {
    height: 3rem;
    border-radius: 0.5rem;
    font-weight: 400;
    color: var(--midground);
}

.number {
    border: solid 0.1rem hsla(0, 0%, 100%, 0.0);
    border-radius: 100%;
    transition: border 800ms;
}

.number:hover{
    border: solid 0.1rem var(--foreground);
    transition: border 200ms;
}

.number:active,
.operation:active {
    background-color: var(--foreground);
    color: var(--background);
}

#plus-minus {
    letter-spacing: -0.2rem;
}


#exponent {
    transform: translate(0.4rem, -0.0rem);
}

#exponent::after {
    content: 'y';
    font-size: 1rem;
    transform: translate(0.0rem, -0.5rem);
}

.multiply {
    rotate: 45deg;
}

#equals {
    grid-column: 1 / span 2;
    width: auto;
}

.character {
    display: inline-block;
}

.accented-colour {
    color: var(--cl-accent);
    transition: color 2000ms;
}

.mid-colour {
    color: var(--cl-grey);
}

.extra-padding {
    padding: 0 0.6rem;
}

.indices {
    font-size: 2rem;
}

.negative-num::before {
    display: inline-flex;
    justify-content: center;
    content: '-';
    animation: fade 400ms linear;
    overflow: hidden;
}

.grow-margin {
    animation: grow-margin 200ms linear;
}

.shrink-margin {
    animation: shrink-margin 100ms linear;
}

@keyframes slide-from-right {
    0% { transform: var(--offset-width); }
    100% { transform: translateX(0); }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes colour-change {
    0% { color: var(--first-colour); }
    100% { color: var(--second-colour); }
}

@keyframes grow-margin {
    0% { margin-left: -0.85rem; }
    100% { margin-left: 0rem; }
}

@keyframes shrink-margin {
    0% { margin-left: 0.85rem; }
    100% { margin-left: 0rem; }
}