body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

#calculator-housing {
    height: 80vh;
    width: 30rem;
    border-radius: 2rem;
    background-color: hsl(0, 0%, 95%);
}