:root {
    --dark-bg-grad: linear-gradient(180deg, hsla(0, 0%, 0%, 0.0), hsla(0, 0%, 0%, 0.4));
    --light-bg-grad: linear-gradient(180deg, hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0.0));
}

html {
    background-color: red;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.dark {  
    background: var(--dark-bg-grad);
}

.light {  
    background: var(--light-bg-grad);
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8rem;
    /* margin: 0.5rem; */
}

#display p {
    padding: 2rem;
    font-size: 2rem;
}

#device-housing {
    border-radius: 0.5rem;
    background-color: gray;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    background-color: white;
    font-size: 2rem;
    cursor: pointer;
}

.number {
    font-weight: 200;  
}

.plus-minus {
    letter-spacing: -0.2rem;
}